/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap'); */

/* Reset */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Navigation */
.navbar-brand {
    font-family: "Merriweather Sans";
    font-size: 20px;
    font-weight: 700;
}

#navbar-brand:hover {
    color: #ffffff;
}

.nav-link {
    padding: 0 16px;
    font-family: "Merriweather Sans";
    color: #ffffffb3;
}

.nav-link:hover {
    color: #ffffff;
}

/* Header */
.header {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../images/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.header h1 {
    font-size: 3rem;
    font-family: "Merriweather Sans";
}

.header p {
    color: #ffffffb3;
    font-size: 1.15rem;
    font-family: "Merriweather Sans";
}

.btn-xl {
    padding: 20px 36px;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: "Merriweather Sans";
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-color: #f4623a;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-xl:hover {
    background-color: #cf5331;
} 

@media (min-width: 992px) {

    #mainNav .navbar-brand {
        color: #ffffffb3;
    }

}

hr {
    color: inherit;
    border: 0;
    border-top: 1px solid;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    opacity: 1;
    background-color: #f4623a;
}

/* About */
.page-section {
    padding: 8rem 0;
}

.bg-primary {
    /* opacity: 1; */
    background-color: #f4623a !important;
}

.page-section h2 {
    font-family: "Merriweather Sans";
}

.page-section p {
    color: #ffffffbf;
    font-family: "Merriweather Sans";
}

.divider-light {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    opacity: 1;
    background-color: #ffffff !important;
}

.btn-light {
    background-color: #f8f9fa;
}

.btn-light:hover {
    background-color: #d3d4d5;
}

#submitButton {
    opacity: 0.65;
    pointer-events: none;
    background-color: #f4623a;
}